html {
    height: 100%;
}
body {
    background: rgb(64, 64, 64);
    background-image: url("../style/hexagon-sheet.png");
    background-repeat: repeat-xy;
    overflow-y: hidden;
    overflow-x: hidden; 
    overflow: hidden;
    font-family: 'Courier New', monospace;
}
.header {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', monospace;
}
.bg-text {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}
.animate-bg {
    background: rgb(64, 64, 64);
    background-image: url("../style/hexagon-sheet.png");
    background-repeat: repeat-xy;
    animation-name: movebg;
    animation-duration: 30s;
}
@keyframes movebg {
  0%   {right:0px; bottom:0px;}
  100% {left:1000px; top:1000px;}
}
