:root {
  --border: rgb(255, 255, 255);
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
}

a, a:visited {
  text-decoration: none;
}

body {
  background-color: rgb(0, 0, 0);
  display: grid;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  place-items: center;
  background-image: radial-gradient(
  rgba(255, 255, 255, 0.2) 8%, 
  transparent 8%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
}

.background {
  display:grid;
  height:100%;
  margin:0px;
  padding:0px;
  place-items:center;
  background:linear-gradient(
    black 0% 33%,
    transparent 100%
  );
  width:100%;
}

.card {
  background: rgb(0,0,0);
  aspect-ratio: 1/1.6;
  border: 0.5vmin solid var(--border);
  position: relative;
  width: 56vmin;
}

.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.card:before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    var(--g1) 66%,
    var(--g2) 83.5%,
    var(--g3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left:0px;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease;
  width: 100%;
  z-index: 1;
}

.card:hover > .card-content {
  background-position: -10% 0%;
}

.card-content {
  background-image: radial-gradient(
  rgba(255, 255, 255, 0.2) 8%, 
  transparent 8%
  );
  background-position: 0% -.35%;
  background-size: 5vmin 5vmin;
  height: calc(100% - 10vmin);
  padding: 5vmin;
  position: relative;
  transition: background-position 350ms ease;
  width: calc(100% - 10vmin);
  z-index: 2;
  overflow: hidden;
}

.card-title,
.card-subtitle,
.dot,
.text {
  color: white;
  font-family: 'ABeeZee', sans-serif;
  font-weight: 400;
  margin: 0px;
  text-decoration: none;
}

.card-title {
  font-size: 6vmin;
  max-width: min-content;
}

.card-subtitle {
  font-size: 3vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  max-width: min-content;
}

.text {
  font-size: 2vmin;
  max-width: min-content;
}

.icon {
  height: 7vmin;
  margin-right: 2vmin;
  margin-top: 1vmin;
  transition: transform 250ms ease;
}

.icon:hover {
  transform: scale(1.1);
}

.dot {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.personal {
  font-size: 2vmin;
  width: 6.25em;
}

.experience {
  font-size: 2vmin;
  width: 3.75em;
}

.dot::after {
  content: "\00B7";
  margin: 0 1vmin;
  margin-left: auto;
}

.text {
  flex: 1;
  max-width: 100%;
  margin-bottom: 1vmin;
  overflow-wrap: break-word;
  align-items:baseline;
}

.horizontal-line {
  border-top: 0.25vmin solid var(--border);
  margin: 3vmin 0px;
}

.flex-text-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-text-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.ai-read {
  font-size: 2vmin;
  max-width: 50vmin;
  color: rgb(5, 5, 5);
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'ABeeZee', sans-serif;
  font-weight: 400;
  
}
