  #c {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .O {
  
    background-color: #ffc800;
    border: 3px solid #444;
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: top;
  }
  
  .F {
  
    background-color: #808080;
    border: 3px solid #444;
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: top;
  }
